<!-- <div fxLayout="row" class="router-content " fxLayoutAlign="start stretch">
  <div fxFlex="30"></div>
  <div fxLayout="column" fxFlex="40" fxLayoutAlign="start none" fxLayoutGap="10px">
      <div fxFlex="10"></div>
      <label for="user-name">Username</label>
      <input id="user-name" type="text" size="30" pInputText>

      <label for="password">Password</label>
      <input id="password" type="password" size="30" pInputText>
      <div fxFlex="10px"></div>
      <button pButton type="button" label="Login"></button>
      <div fxFlex="10"></div>
  </div>
  <div fxFlex="30"></div>
</div> -->

<div fxLayout="row" fxFlex="grow" class="router-content " fxLayoutAlign="start stretch">
    <div fxFlex="30"></div>
    <form fxLayout="column" fxFlex="40" fxLayoutAlign="start none" fxLayoutGap="10px">
      <div fxFlex="10"></div>
      <app-lf-item-detail-view></app-lf-item-detail-view>
      <div fxFlex="10px"></div>
      <app-lf-replace-err-pbutton [label]="'Submit'"></app-lf-replace-err-pbutton>
      <div fxFlex="10px"></div>
    </form>
    <div fxFlex="30"></div>
  
  </div>

<!-- <div class="yellow" style="width:100%">

</div> -->


<!-- <div fxFlex="1" style="background-color: blue;">
    
 <button pButton type="button" icon="fa-check" iconPos="right" label="Login"></button>
    </div> -->

<!-- <div fxFlex="1">
  <h1>Test
  </h1>
</div> -->

<!-- <input id="input" type="text" size="30" pInputText [(ngModel)]="text">
      <span id="text">{{text}}</span> -->

<!-- <div fxLayout="row" fxLayoutAlign="start none">
    <div fxFlex="20" style="background-color: yellow"></div>
  <div fxLayout="column" fxFlex="60" style="background-color: red" fxLayoutAlign="center none" fxLayoutGap="10px">
    <label for="float-input">Username</label>
    <input id="float-input" type="text" size="30" pInputText>
  </div>
  <div fxFlex="20" style="background-color: blue"></div>
</div> -->
