<div fxLayout="row" fxFlex="grow" class="router-content " fxLayoutAlign="start stretch">
  <div fxFlex="30"></div>
  <form fxLayout="column" fxFlex="40" fxLayoutAlign="start none" fxLayoutGap="10px">
    <div fxFlex="10"></div>
    <app-lf-item-detail-view></app-lf-item-detail-view>
    <div fxFlex="10px"></div>
    <app-lf-replace-err-pbutton [label]="'Submit'"></app-lf-replace-err-pbutton>
    <div fxFlex="10px"></div>
  </form>
  <div fxFlex="30"></div>

</div>

<!-- 
<button pButton label="Search" icon="fa-search"></button>

<label class="ui-widget" for="time">Time</label>
<p-calendar [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>

<app-lf-replace-err-pbutton [label]="'Submit'"></app-lf-replace-err-pbutton>
<button>{{title}}</button>
<h1>This is {{title}}</h1>>

<button pButton label="Search" icon="fa-search"></button> -->

<!-- <p-dropdown autoWidth="false" [style]="{'width':'100%'}" placeholder=" Select the type of thing "></p-dropdown> -->



<!-- <button pButton label="Search" icon="fa-search"></button>

<label class="ui-widget" for="time">Time</label>
<p-calendar [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>

<app-lf-replace-err-pbutton [label]="'Submit'"></app-lf-replace-err-pbutton>
<button>{{title}}</button>
<h1>This is {{title}}</h1>

<button pButton label="Search" icon="fa-search"></button> -->