<!-- <p>
  lf-nav-bar works!
</p> -->
<!-- <div fxLayout="row" fxLayoutAlign="space-around center" class="parent" fxLayoutGap="20px"> -->
<!-- <p-menubar [model]="items">
  <input type="text" pInputText placeholder="Search">
  <button pButton label="Search" icon="fa-search"></button>
</p-menubar> -->

<div class="banner" fxLayout="row" fxLayoutAlign="center center">
  <div class="ui-widget ui-widget-header banner" fxLayout="row" fxLayoutAlign="center center" fxFlex="15" fxFlexAlign="Stretch">
    <h2 icon="fa-check">Lost&Found</h2>
  </div>
  <div class="ui-widget ui-widget-header banner" fxFlex fxFlexAlign="Stretch">
    <ul class="list-style-none banner-nav" fxLayout="row" fxLayoutGap="1%">
      <li>
        <a [routerLink]="['./home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['./lost-regist']">I Lost</a>
      </li>
      <li>
        <a [routerLink]="['./found-regist']">I found</a>
      </li>
      <li>
        <a [routerLink]="['./home']">Browse</a>
      </li>
      <li>
        <a [routerLink]="['./about']">About Us</a>
      </li>
    </ul>
  </div>
  <div class="ui-widget ui-widget-header banner" fxFlex="30" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" fxFlexAlign="Stretch">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Search" icon="fa-search"></button>
  </div>
  <div class="ui-widget ui-widget-header banner" fxFlex="3" fxFlexAlign="Stretch">
      </div>
</div>

<!-- <p-menubar [model]="items" fxFill>
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Search" icon="fa-search"></button>
  </p-menubar> -->

<!-- <div fxLayout="row" fxLayoutAlign="center center" class="parent" fxLayoutGap="20px">
  <div class="red" fxFlex="55">
    Red
  </div>

  <div class="blue" fxFlexAlign="start">
    Blue
  </div>

  <div class="yellow" fxHide>
    Yellow
  </div>

</div> -->
