/* .parent {
    min-height: 64px;
}

.red {
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

.blue {
    background-color: blue;
    border: 2px dotted black;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
    border: 2px dashed black;
    border-radius: 5px;
} */