<div fxLayout="row" class="router-content" fxLayoutAlign="start stretch">
  <div fxFlex="30"></div>
  <div fxLayout="column" fxFlex="40" fxLayoutAlign="start none" fxLayoutGap="10px">
    <div fxFlex="10"></div>
    <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-evenly none">
      <div class="ui-widget ui-accordion ui-accordion-content about-text">
        This site is made to help people who lost their properties.
      </div>
    </div>
    <div fxFlex="10"></div>
  </div>
  <div fxFlex="30"></div>
</div>
